.comments-expanded-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
}

.comments-container {
    flex-grow: 1;
}

/* STYLE POUR L'INPUT D'AJOUT DE COMMENTAIRE */
.comment-container {
    position: relative;
    padding: 10px 15px;
}

.comment-input {
    flex-grow: 1;
    max-height: 68px;
}